<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="#">Dashboard</a></li>
        <li><a href="{{ path('alert_list') }}">Mes alertes{% if app.user.alerts|length > 0 %} ({{ app.user.alerts|length }}){% endif %}</a></li>
        <li><a href="{{ path('station_list') }}">Mes stations{% if app.user.alerts|length > 0 %} ({{ app.user.getStations|length }}){% endif %}</a></li>
        <li><a href="{{ path('map') }}">Carte des VLilles</a></li>
        <li><a href="{{ path('stations') }}">Toutes les stations</a></li>
    </ul>
</div>